<app-alert 
  *ngIf="showAlert()"
  [message]="alertMessage()"
  [type]="alertType()"
  [dismissible]="true"
  (close)="showAlert.set(false)">
</app-alert>

<div class="wordle-container">
  <h1>WORDLE</h1>


  <h3 *ngIf="!isStarted()">One word</h3>
  <h3 *ngIf="!isStarted()">Five letters</h3>
  <h3 *ngIf="!isStarted()">Six tries</h3>

  <div *ngIf="isStarted()" class="wave-background">
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
  </div>

  <div *ngIf="!isStarted()" class="start-screen">
    <button (click)="startGame()">Start Game</button>
  </div>

  <div *ngIf="isStarted()" class="game-board">
    <form [formGroup]="guessForm">
      <div formArrayName="rows" class="rows-container">
        <div
          *ngFor="
            let rowControl of rowsFormArray.controls;
            let rowIndex = index
          "
          [formGroupName]="rowIndex"
          class="row"
        >
          <div formArrayName="letters" class="letters-container">
            <input
              *ngFor="
                let letterControl of getLettersFormArray(rowIndex).controls;
                let colIndex = index
              "
              [formControlName]="colIndex"
              [id]="'input-' + rowIndex + '-' + colIndex"
              class="letter-input"
              [ngClass]="guessResults[rowIndex][colIndex]"
              type="text"
              maxlength="1"
              autocapitalize="on"
              autocomplete="off"
              [readonly]="rowIndex !== currentRow()"
              (keydown)="onKeyDown($event, rowIndex, colIndex)"
              (input)="onInputChange($event, rowIndex, colIndex)"
            />
          </div>
        </div>
      </div>
      <div class="actions-container">
        <div class="submit-container" *ngIf="isStarted()">
          <button
            type="button"
            (click)="checkCurrentRow()"
            class="submit-button"
          >
            Submit
          </button>
        </div>
        <div class="redobutton" *ngIf="redobutton">
          <button type="button" (click)="reDoGame()" class="submit-button">
            Restart
          </button>
        </div>
      </div>
    </form>
    <div class="keyboard-container">
      <app-keyboard
        [basicKeys]="keys()"
        [removedKeys]="removedKeys()"
        [presentKeys]="presentKeys()"
        [correctKeys]="correctKeys()"
        (keyPressed)="onVirtualKeyPress($event)"
      ></app-keyboard>
  </div>
</div>
